<h1>Odd Job Computing Ticket Tracker</h1>
<h2>Show Existing Ticket</h2>

<p>
  <strong>Id:</strong><%= @ticket.id %>
  <strong>Submitted:&nbsp;</strong><%= @ticket.submit_date %>
</p>
<p>
  <strong>Issue:&nbsp;</strong>
  <%= @ticket.issue %>
  <strong>Submitted by:</strong>&nbsp;
  <%= @ticket.client_email %>
</p>

<p><strong>Description</strong><br>
  <%= @ticket.description %>
</p>
  
<p><%= link_to 'New Ticket', new_ticket_path %> <%= link_to 'Ticket List', tickets_path %></p>
